
.btn-primary {
  background-color: #7A7A7A;
}


body {
  background-color: #DDDDDD;
}

label {
color: black;
}

#createAccountform {
  margin-left: 15%;
  margin-right:10%;
  width: 70%;
  padding-left: 15%;
}

header {
  padding-bottom: 130px;
}

.logo {
  display: block;
  margin: auto;
  width: 20%;
  height:20%;
  margin-bottom: 5%;
}

.uLogo {
  display: block;
  margin: auto;
  width: 20%;
  height:20%;
  margin-bottom: 5%;
}

.test {
  padding-bottom: 90px;
}
