
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #696969;
  overflow: auto;
  font-weight: bold;
  color: white;
  
}

li {
  float: left;
  padding: 14px 16px;
}

li a {
  background-color: #cdc7c7;
  color: black;
  padding: 14px 16px;
  float: left;
  text-align: center;
 
}

body{
  background-color:#cdc7c7;
  overflow:auto;
}

h1{
  text-align: center;
  color: black;
  font-size: 40;
  font-weight: bold;
}

#HASH {
  display: flex;
  justify-content: space-between;
}

#HASH span{
  padding: 15px 15px;
}
