button {
    background-color: #c7c7c7;
    padding: 50px;
    width: 400px;
    color: #666; /* White text */
    display: block; 
    border-style: solid;
    border-width: 50px;
    border-color: #696969;
    font-size: 28px;
    top: 20px;
    left: 80px;
}


  
button:not(:last-child) {
    border-bottom: 0px; 
    margin-bottom: 0px;
}
  
button:hover {
    background-color: #696969;
    font-weight: bold;
    color:#c7c7c7;
    font-weight: bold;
}

.button-background{
    margin-left: 50px;
    margin-top: 50px;
    padding-bottom: 0px;
}

.background-counter{

    position: absolute;
    width: 600px;
    height: 670px;
    left: 786px;
    top: 135px;
    border-style: solid;
    border-color: #696969;
    border-width: 25px;
    padding: 15px;
    background: #c7c7c7;
}

.counter-text{
    text-align: center;
    color: black;
}

.text{
    color: black;
    font-size: 15px;

}

.hr {
    color: white;
}

.twocolumn {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  
@media screen and (max-width: 1100px) {
    .twocolumn {
      width: 100%;
      display: block;
    }
  }


.row {
    margin: 0 -5px;
  }
  

.row:after {
    content: "";
    display: table;
    clear: both;
  }