button {
    background-color: #c7c7c7;
    padding: 50px;
    width: 400px;
    color: #666; /* White text */
    display: block; 
    border-style: solid;
    border-width: 50px;
    border-color: #696969;
    font-size: 28px;
    top: 20px;
    left: 80px;
}


  
button:not(:last-child) {
    border-bottom: 0px; 
    margin-bottom: 0px;
}
  
button:hover {
    background-color: #696969;
    font-weight: bold;
    color:#c7c7c7;
    font-weight: bold;
}

.button-background{
    margin-left: 50px;
    margin-top: 50px;
    padding-bottom: 0px;
}

.background-counter{

    position: absolute;
    width: 600px;
    height: 670px;
    left: 786px;
    top: 135px;
    border-style: solid;
    border-color: #696969;
    border-width: 25px;
    padding: 15px;
    background: #c7c7c7;
}

.counter-text{
    text-align: center;
    color: black;
}

.text{
    color: black;
    font-size: 15px;

}

.hr {
    color: white;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-3 {width: 25%;}
}

[class*="col-"] {
    width: 100%;
  }

* {
    box-sizing: border-box;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

  [class*="col-"] {
    float: left;
    padding: 15px;
  }