
.btn-primary {
  background-color: #7A7A7A;
}


body {
  background-color: #DDDDDD;
}

label {
color: black;
}

#centerform {
  margin-left: 10%;
  margin-right:10%;
  width: 80%;
  padding-left: 15%;
}

header {
  padding-bottom: 110px;
}

.logo {
  display: block;
  margin: auto;
  width: 20%;
  height:20%;
  margin-bottom: 5%;
}

.uLogo {
  display: block;
  margin: auto;
  width: 20%;
  height:20%;
  margin-bottom: 5%;
}

.test {
  padding-bottom: 90px;
}

.Srec1 {
  position: absolute;
  margin-top: 5%;
  margin-left: 3%;
  width: 433px; 
  height: 177px; 
  left: 23px; 
  top: 56 px; 
  background: #D9D9D9;
}

#viewAudit {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
}

#newAudit {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
}

.Srec2 {
  position: absolute;
  margin-top: 17%;
  margin-left: 3%;
  width: 433px; 
  height: 177px; 
  left: 23px; 
  top: 56 px; 
  background: #D9D9D9;
}
