.btn-group button {
    background-color: #7A7A7A;
    border: 1px solid rgb(15, 19, 15); 
    color: rgb(0, 0, 0); 
    padding: 50px 62px; 
    cursor: pointer; 
    float: left; 
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
   /* Clear floats (clearfix hack) */
   .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #788e79;
  }
