.row:after {
  content: "";
  display: table;
  clear: both;
}

table {
  background: #696966;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 1px solid #00000071;
  color: #cdcdcd;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: black;
  font-weight: 400;
  padding: 0.65em 1em;
}

tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #cdc7c7;
}

.adminButtons {
  position: relative;
  top: 25px;
  left: 25px;
  margin-bottom: 45px;
}