
#header{
  width: 100%;
  text-align:center;
}

img{
  margin-top: 14px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #696969;
  overflow: auto;
  font-weight: bold;
}

li {
  float: left;
  padding: 14px 16px;
}

li a {
  background-color: #cdc7c7;
  color: black;
  padding: 14px 16px;
  float: left;
  text-align: center;
 
}

body{
  background-color:#cdc7c7;
  overflow:auto;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 33.3%;
  padding: 0 10px;
}
.twocolumn {
  float: left;
  width: 50%;
  padding: 0 10px;
}

@media screen and (max-width: 1100px) {
  .twocolumn {
    width: 100%;
    display: block;
  }
}

.onecolumn {
  float: center;
  width: 50%;
  padding: 0 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 750px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  padding: 16px;
  text-align: center;
}

aboutUs{
  text-align: center;
  margin: auto;
}
button2{
  background-color: #696969;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button1{
  background-color:#cdc7c7;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button1:hover{
  background-color: #696969;
  padding: 10px 10px;
}

.seventyfive {
  margin: auto;
  width: 75%;
}

.center{
  margin: auto;
  width: 50%;
}

.icons{
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.box {
  display: flex;
  align-items:center;
}