  .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background: linear-gradient(45deg, #f857a8, #ff5858);
    cursor: pointer;
    margin: 15px;
  }
  .button:active {
    transform: translateY(-50%) scale(0.98);
  }

  .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }

  .button:hover{
      background-color: lightgrey;
  }